---
// Footer component
---

<footer class="footer text-center pt-4" style="background: #002c5f">
  <div class="container" id="pie">
    <h5 class="text-light">
      Grupo de investigación <br />
      Medio Ambiente y Sociedad - MASO, Facultad de Ciencias Sociales y
      Humanas - Universidad de Antioquia - UdeA
    </h5>

    <div class="row text-start mt-5 d-flex flex-wrap">
      <div class="what-we col-md-3">
        <h6 class="text-light">Nuestro sitio web</h6>
        <p class="text-light">
          Este sitio muestra la relación de la línea de investigación
          "Planeación, Ciudadanía, Territorio y Ambiente" del grupo MASO, con
          la sociedad.
        </p>

        <div class="socialNet">
          <div
            class="social-icons mt-4 text-center"
            style="justify-content: space-between"
          >
            <a
              href="https://www.youtube.com/@lilianamariasanchezmazo9442/videos"
              target="_blank"
              ><i class="col-3 fab fa-youtube" style="font-size: 34px"></i
            ></a>
            <a href="#pie"
              ><i class="fa-solid fa-envelope" style="font-size: 34px"></i
            ></a>
            <a href="https://www.instagram.com/cancionhuellasdebarrio/"
              ><i
                class="col-3 fab fa-instagram"
                target="_blank"
                style="font-size: 34px"
              ></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 what-we">
        <div class="bloque">
          <a href="https://popular-esmedellin.com">
            <img
              src="https://raw.githubusercontent.com/satelite30/-logossitio/main/Udea1-3.png"
              style="filter: brightness(0) invert(1); width: 100%"
              alt="Universidad de Antioquia"
            />
          </a>

          <a href="https://popular-esmedellin.com" class="text-center">
            <img
              src="https://raw.githubusercontent.com/satelite30/-logossitio/main/logo03.png"
              style="filter: brightness(0) invert(1); width: 100%"
              alt="Logo MASO"
              class="text-center justify-content-center"
            />
          </a>
        </div>
      </div>

      <div class="col-md-3 what-we">
        <h6 class="text-light">Visita también</h6>
        <div class="mt-2 imagen-foot">
          <a href="https://maps.app.goo.gl/Z26f1sb9rBiyAX83A">
            <img
              src="https://www.udea.edu.co/wps/wcm/connect/udea/e687148e-e754-4aae-8588-31cefd3cd8f3/1/siuexterna1.jpg?MOD=AJPERES"
              alt="Social Image"
              style="width: 80%"
            />
          </a>
        </div>
      </div>

      <div class="col-md-3 text-light what-we" style="font-size: 16px">
        <h6>Contacto e información</h6>

        <ul class="list-unstyled">
          <li>
            <a href="mailto:grupomaso@udea.edu.co">grupomaso@udea.edu.co</a>
          </li>
          <li>Contáctanos</li>
          <li>
            <a
              href="https://www.udea.edu.co/wps/portal/udea/web/inicio/investigacion/sede-investigacion-universitaria/acerca-siu"
              target="_blank"><b>Sede de Investigación Universitaria (SIU)</b></a
            ><br />
            Calle 62 #52-59
          </li>
          <li>Medellín - Colombia</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
